<div class="contenedor-central bg-green-500 min-h-screen flex justify-center items-center py-10"
     style="background: #4CAF50; display: flex; justify-content: center">
  <div class="formulario w-full max-w-2xl bg-white p-6 rounded shadow-md space-y-6">

    <h1 class="text-2xl font-bold text-center">Nueva solicitud de repuesto</h1>

    <!-- Selección de bus -->
    <div class="card">
      <h2 class="text-lg font-semibold mb-2">Seleccione un Bus</h2>
      <p-dropdown
        [options]="buses"
        [(ngModel)]="selectedBus"
        optionLabel="placa"
        placeholder="Selecciona un bus"
        [filter]="true"
        [showClear]="true"
        class="w-full">
      </p-dropdown>
    </div>

    <!-- Descripción de falla -->
    <div class="card">
      <h4 class="text-lg font-semibold mb-2">Descripción de falla</h4>
      <textarea style="border: solid;"
                pTextarea
                id="description"
                [(ngModel)]="value"
                rows="5"
                cols="30"
                class="w-full border rounded p-2"
                placeholder="Describe la falla">
      </textarea>
    </div>

    <!-- Selección de Repuesto -->
    <div class="card">
      <h2 class="text-lg font-semibold mb-2">Selecciona un Repuesto</h2>
      <p-dropdown
        [options]="repuestosCombinados"
        [(ngModel)]="repuestoSeleccionado"
        optionLabel="nombreRepuesto"
        placeholder="Selecciona un repuesto"
        [filter]="true"
        class="w-full">
      </p-dropdown>
    </div>

    <!-- Selección de Herramienta -->
    <div class="card">
      <h2 class="text-lg font-semibold mb-2">Selecciona una Herramienta</h2>
      <p-dropdown
        [options]="herramientasCombinadas"
        [(ngModel)]="herramientaSeleccionada"
        optionLabel="nombreHerramienta"
        placeholder="Selecciona una herramienta"
        [filter]="true"
        class="w-full">
      </p-dropdown>
    </div>



    <!-- Botón para guardar la solicitud -->
    <button (click)="guardarSolicitud()" class="btn btn-primary mt-4 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
      Guardar Solicitud
    </button>

  </div>
</div>
